# Basics of the Python language

In this notebook, we will take a look at the syntax of the language and the fragments that every piece of Python code is built from. This overview is far from complete, but it is intended to give an idea of what we might encounter in the code we are working with.

---
## Blocks
Let's try to read the following code as if it were English.

In [1]:
a= 10
b= 15
print(a+b)

25

In [2]:
if 5>2:
    print("It's true that 5 is greater than 2.")
else:
    print("It's false that 5 is greater than 2.")

It's true that 5 is greater than 2.

In [ ]:
i= 0
sum= 0.
while i<10:
    print("Now i = ",i)
    sum= sum + i
    i = i+1 
print(sum)

In [3]:
N= 10
M= 10
i,j= 1,1
multiplication_table= []
while i <= N:
    next_row_of_multiplicable_table= []
    while j <= M:
        next_row_of_multiplicable_table.append(i*j)
        j= j+1
    i= i+1
    j= 1
    print(next_row_of_multiplicable_table)
    multiplication_table.append(next_row_of_multiplicable_table)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
print(multiplication_table)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

- **Indentations are important: 1, 2, 3 spaces - it doesn't matter how many, only that it's the same number everywhere!!!**
- **Not Tab** - fortunately, in practice, most editors replace Tab with spaces.

---
## Variables

- Variables are assigned a value.
- Values have a type.
- Variables "live" throughout the entire Jupyter notebook, if they have already been created. Unless they have a scope limited to a certain block of code, such as a function.
- Variables store in the code all the information needed to perform calculations.

In [5]:
a= 10
print(a)

10

In [6]:
type(a)

int

In [7]:
print(a)

10

The values and types(!) of variables can be changed.

In [8]:
a = 15.0996

In [9]:
type(a)

float

In [10]:
print(a)

15.0996

Variables of type `string`:

In [43]:
a= "Alice has a cat" # The stereotypical first sentence taught in Polish schools.
print(a)

Alice has a cat

In [18]:
print(a[0])

A

In [19]:
print(a[0:5])

Alice

In [44]:
print(a.replace("Alice",'Bob'))

Bob has a cat

In [22]:
print("First row,\n Second row\nThird")

First row,
 Second row
Third

In [23]:
x= float("3.32")
print(x, type(x))

3.32 <class 'float'>

In [25]:
name= "Alice"
x= name+" has a cat"
print(x)

Alice has a cat

Boolean variables (bool)

In [26]:
a= True # False
print(a)

True

In [27]:
5 == 5

True

In [28]:
a =  (5 == 5)
print(a)

True

In [29]:
x = 5
if x = 5: # Should be ==
    print(x)

SyntaxError: invalid syntax (1238107172.py, line 2)

Complex

In [45]:
a= 1j + 8

In [46]:
a

(8+1j)

In [47]:
a+a

(16+2j)

In [48]:
a = 10 + j

In [34]:
a = 10 + 1.0j

### Questions and answers

In [35]:
# Create a variable storing a string, 

# a float type number, 

# and an integer type number.

In [36]:
# type("Alice has a cat.")

In [37]:
# type(1.0)

In [38]:
# a= 10
# type(a)

In [39]:
# a= 10
# b= 10.
# type(a+b)

In [40]:
# print(bool("a"))

In [41]:
# print(bool(""))
# print(bool(0))
# print(bool(0.))
# print(bool(None))

In [42]:
# if True:
# print("Alice has a cat")

### Operations on variables - operators: +, -, *, /, //, %, =, ==

In [49]:
a= 10
print(2*a)

20

In [50]:
a/2

5.0

In [51]:
a/3

3.3333333333333335

In [52]:
a//3

3

In [53]:
a%3

1

In [54]:
a + a

20

In [55]:
a -= 5 # This is a shorthand for the expression a = a + 5
print(a)

5

Operators perform different functions for variables of different types.

In [56]:
a="Alice has a cat"
print(2*a)

Alice has a catAlice has a cat

In [57]:
a/2 # a//2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
"%.2f" % 2

In [58]:
a+a

'Alice has a catAlice has a cat'

Boolean functions

In [59]:
(True and True)

True

In [60]:
False and True

False

In [61]:
False or True

True

In [62]:
(False or True) and True

True

In [63]:
(3>5) or True

True

In [64]:
not True

False

In [65]:
1+1+1 == 3

True

In [66]:
0.1 + 0.1 + 0.1 == 0.3

False

<details>
<summary>Comment (click me)</summary>
Never compare floats using a simple `==` operator! Use some version of isclose() function
</details>

### Operator `in`

In [67]:
'a' in "Alice has a cat"

True

In [68]:
'C' in "Alice has a cat"

False

In [69]:
3 in [3, 4, 2, 1] # check if 3 can be found in a container (list container)

True

### Questions and answers

Replace `?` to see a correct statement

In [70]:
# if 3 == 7 ? 0 == 0:
  # print("At least one statement is true")

In [71]:
# if 3 ? 5:
#   print("If 3 not equal 5")

### Containers

#### List:
* What is the concept?

In [72]:
a= [1,2,3,4]
print(type(a))

<class 'list'>

In [73]:
a[0] = 10
print(a)

[10, 2, 3, 4]

In [74]:
len(a)

4

In [75]:
del a[1]
print(a)

[10, 3, 4]

In [76]:
a.append(8)
print(a)

[10, 3, 4, 8]

In [77]:
a.insert(0,-12)
print(a)

[-12, 10, 3, 4, 8]

In [78]:
a = a + [1,2,3,4]
print(a)

[-12, 10, 3, 4, 8, 1, 2, 3, 4]

In [80]:
x= ["Alice", [1,2,3], 6.9, {1,2,3},(1,2)]
print(x)

['Alice', [1, 2, 3], 6.9, {1, 2, 3}, (1, 2)]

In [82]:
# print(x[1])

In [81]:
# 11 in a

#### Tuple:

In [83]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [84]:
a[0]=5

TypeError: 'tuple' object does not support item assignment

In [85]:
print(a[0])

1

In [86]:
x,y,z,w = a
print(w)

4

In [87]:
a,b,c= 1,10.,"X"

In [88]:
a= 10
b= 15
a,b= b,a
print(a)

15

### Set

In [89]:
a= {1,1,3,4,5}
print(a)

{1, 3, 4, 5}

In [90]:
1 in a

True

In [91]:
a.add('a')
a.add('a')
print(a)

{1, 3, 4, 5, 'a'}

In [92]:
b = {1,4,7,8}

In [93]:
a | b # or

{1, 3, 4, 5, 7, 8, 'a'}

In [94]:
a & b # and

{1, 4}

In [95]:
a ^ b # xor

{3, 5, 7, 8, 'a'}

In [96]:
a - b

{3, 5, 'a'}

### Dictionary

In [97]:
a= {"age": 20, "name":"Bob","phone":"+11 111 222 333"}
print(a)

{'age': 20, 'name': 'Bob', 'phone': '+11 111 222 333'}

In [98]:
print(a["age"])

20

In [99]:
a["second_name"] ="John"
print(a)

{'age': 20, 'name': 'Bob', 'phone': '+11 111 222 333', 'second_name': 'John'}

In [100]:
a.values()

dict_values([20, 'Bob', '+11 111 222 333', 'John'])

In [101]:
for key in a:
    print(key)

age
name
phone
second_name

In [102]:
for key, value in a.items():
    print(key, " ", value)

age   20
name   Bob
phone   +11 111 222 333
second_name   John

### Questions and answers

In [105]:
# Print last element from the list
# fruits = ["apple", "banana", "cherry"]
# print(?)

In [106]:
# Print number of elements in the list
# a = [1,2,3,4,5,6]
# print(?)

In [107]:
# Print first element in the list:
# a = [1,2,3,4,5,6]
# print(a[?])

In [109]:
# What it might print?
# a= [1,2,3,4,5,6]
# print(a[1:4]) # ?

---
### Conditional statements and loops.

IF-ELIF-ELSE

In [110]:
a= 5
if a<10:
    print("X")
elif a<15:
    print("Y")
else:
    print("Z")

X

In [111]:
users= ["Alice", "Bob", "Carol"]
name= input("Write your name: ") # New element! What it does?
if name in users:
    print("You are one of the users. You have access to this branch")
else:
    print("You are not a user!")

Write your name: Bob
You are one of the users. You have access to this branch

FOR

In [112]:
x= 10232
for x in [1,2,3,4,6]:
    print(x)

1
2
3
4
6

In [113]:
print(x)

6

In [116]:
for x in range(10):
    print(x, x**2)
    # any_function_of(x)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [117]:
for letter in "Some long text":
    print(letter)

S
o
m
e

l
o
n
g

t
e
x
t

In [118]:
for x in 10:
    print(x)

TypeError: 'int' object is not iterable

In [119]:
for x in {12,23,54,12}:
    print(x)

12
54
23

In [120]:
x = [1,2,3,4]
for i in range(len(x)): # Bad pattern! Not pythonic
    print(x[i])

1
2
3
4

WHILE

In [121]:
i= 0
while i<10:
    i= i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [122]:
print(i)

10

Continue i break

In [123]:
# Let's go through the following code:
i= 0
while i<10:
    i= i+1
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [124]:
# And now:
i= 0
while i<10:
    i= i+1
    if i == 4:
        break
    print(i)

1
2
3

--- 
## Modules

Many functions that we often need can be found in modules available in every Python interpreter. You can find a complete list of these in the [documentation](https://docs.python.org/3/library/).

The most important ones are:
- sys
- os
- math
- glob
- time
- argparse

In addition to them, there are also many modules that are not part of the standard library and usually need to be installed separately (the two most important tools for installing modules are pip and conda. We will talk more about them in the modules-related meeting). The most important ones are:

- matplotlib - for creating plots
- scipy - scientific Python
- numpy - numerical Python
- pandas - for working with data using DataFrames
- scikit-learn - for machine learning
- pytorch / jax / tensorflow and keras - for machine learning (neural networks)
- astropy - a collection of tools for astronomers.

In [125]:
import math # This is how we import a module

print(math.pi)

3.141592653589793

In [126]:
import numpy as np
np.abs([-10,10])

array([10, 10])

In [128]:
import not_existing_module

ModuleNotFoundError: No module named 'not_existing_module'

In [129]:
dir(math) # It returns a list containing the functions available in the math module.

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [130]:
help(math.isclose)

Help on built-in function isclose in module math:

isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
    Determine whether two floating point numbers are close in value.

      rel_tol
        maximum difference for being considered "close", relative to the
        magnitude of the input values
      abs_tol
        maximum difference for being considered "close", regardless of the
        magnitude of the input values

    Return True if a is close in value to b, and False otherwise.

    For the values to be considered close, the difference between them
    must be smaller than at least one of the tolerances.

    -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
    is, NaN is not close to anything, even itself.  inf and -inf are
    only close to themselves.

In [132]:
print(0.1+0.1+0.1 == 0.3)
print(math.isclose(0.1+0.1+0.1, 0.3))

False
True

## Functions

It is often beneficial to extract frequently used code snippets into functions. By using functions, the code becomes more readable and easier to maintain.

Additionally, we don't necessarily need to know how a function solves a particular problem. It is sufficient to understand what arguments it takes and what result it returns.

In [133]:
def function(arg1, arg2, arg3):
    """
    Compute average of three numbers
    Other comments
    """
    return (arg1+arg2+arg3)/3

In [134]:
help(function)

Help on function function in module __main__:

function(arg1, arg2, arg3)
    Compute average of three numbers
    Other comments

In [135]:
result= function(1,2,3)
print(result)

2.0

In [137]:
x = 10
def function(arg1, arg2, arg3):
    """
    Compute average of three numbers
    Other comments
    """
    x = 5
    print(x) # Clarify the idea of a scope - is this x equal 5 or 10?
    return (arg1+arg2+arg3)/3

avr= function(1,2,3)
print(avr)
print(x) # What ebout this x (5? or 10?)

5
2.0
10

#### How to implement a good function?

In [138]:
# I want to calculate the average value from 100 measurements.
import random

no_measurements= 100
measurements= []
for _ in range(no_measurements):
    single_measurement= random.randint(0,10)
    measurements.append(single_measurement)
print(measurements)

[7, 8, 10, 10, 1, 6, 8, 6, 6, 7, 6, 2, 8, 6, 9, 8, 4, 2, 6, 10, 3, 2, 6, 4, 5, 1, 10, 0, 9, 7, 6, 2, 9, 3, 10, 7, 1, 3, 2, 5, 10, 5, 8, 2, 7, 0, 4, 0, 5, 4, 2, 1, 3, 7, 5, 5, 9, 8, 9, 10, 6, 9, 3, 6, 9, 9, 4, 3, 10, 9, 10, 0, 0, 7, 6, 10, 6, 6, 9, 6, 8, 4, 10, 9, 8, 1, 6, 3, 2, 9, 7, 3, 5, 4, 9, 9, 6, 5, 6, 8]

In [139]:
cumulative= 0
for single_measurement in measurements:
    cumulative = cumulative + single_measurement
    # cumulative += single_measurement
average_of_measurements= cumulative/no_measurements
print(average_of_measurements)

5.79

In [140]:
def average(measurements):
    cumulative= 0
    for single_measurement in measurements:
        cumulative += single_measurement
    return cumulative/len(measurements)

In [141]:
print(average(measurements))

5.79

In [142]:
# I want to calculate the factorial of N.

In [143]:
N= 5
N_factorial = 1.
for i in range(1,N+1):
    N_factorial= N_factorial*i
print(N_factorial)

120.0

In [144]:
def factorial(N):
    N_factorial = 1.
    for i in range(1,N+1):
        N_factorial*=i
    return N_factorial

print(factorial(5))

120.0

In [146]:
# I want the variable "a" to always contain the larger number, 
# and the variable "b" to contain the smaller number.

In [147]:
a= 10
b= 15
if a<b:
    temp=a
    a=b
    b=temp
print("a = ", a,"; b = ",b)

a =  15 ; b =  10

In [148]:
def swap_first_bigger(a,b):
    if a<b:
        temp=a
        a=b
        b=temp
    return a,b

How to swap numbers in single line of code?
<details>
<summary>Answer (click me)</summary>
a,b = b,a
</details>

In [150]:
a= 10
b= 15
a,b= swap_first_bigger(a,b)
print("a = ", a,"; b = ",b)

a =  15 ; b =  10

In [153]:
# Sort a list of numbers using a bubble sort

Example:
First Pass:
1. ( 5 1 4 2 8 ) > ( 1 5 4 2 8 ), Here, algorithm compares the first two elements, and swaps since 5 > 1.
2. ( 1 5 4 2 8 ) >  ( 1 4 5 2 8 ), Swap since 5 > 4
3. ( 1 4 5 2 8 ) >  ( 1 4 2 5 8 ), Swap since 5 > 2
4. ( 1 4 2 5 8 ) > ( 1 4 2 5 8 ), Now, since these elements are already in order (8 > 5), algorithm does not swap them.

Second Pass:
1. ( 1 4 2 5 8 ) > ( 1 4 2 5 8 )
2. ( 1 4 2 5 8 ) > ( 1 2 4 5 8 ), Swap since 4 > 2
3. ( 1 2 4 5 8 ) > ( 1 2 4 5 8 )
4. ( 1 2 4 5 8 ) >  ( 1 2 4 5 8 )

Now, the array is already sorted, but our algorithm does not know if it is completed. The algorithm needs one whole pass without any swap to know it is sorted.

Third Pass:
1. ( 1 2 4 5 8 ) > ( 1 2 4 5 8 )
2. ( 1 2 4 5 8 ) > ( 1 2 4 5 8 )
3. ( 1 2 4 5 8 ) > ( 1 2 4 5 8 )
4. ( 1 2 4 5 8 ) > ( 1 2 4 5 8 )

In [154]:
import numpy as np
x= [5, 1, 4, 2, 3]

n= len(x)
for i in range(n):
    print("Last ",i, "already sorted!")
    for j in range(0, n-i-1): 
        if x[j] > x[j+1]: 
            x[j], x[j+1] = x[j+1], x[j]
            print(j,j+1, " swapped:")
        print(x)
print(x)

Last  0 already sorted!
0 1  swapped:
[1, 5, 4, 2, 3]
1 2  swapped:
[1, 4, 5, 2, 3]
2 3  swapped:
[1, 4, 2, 5, 3]
3 4  swapped:
[1, 4, 2, 3, 5]
Last  1 already sorted!
[1, 4, 2, 3, 5]
1 2  swapped:
[1, 2, 4, 3, 5]
2 3  swapped:
[1, 2, 3, 4, 5]
Last  2 already sorted!
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
Last  3 already sorted!
[1, 2, 3, 4, 5]
Last  4 already sorted!
[1, 2, 3, 4, 5]

In [155]:
def bubble_sort(x):
    # https://youtu.be/lyZQPjUT5B4
    n= len(x)
    for i in range(n):
        for j in range(0, n-i-1): 
            if x[j] > x[j+1]: 
                x[j], x[j+1] = x[j+1], x[j]

x= [5, 1, 4, 2, 3]
bubble_sort(x)
print(x)

[1, 2, 3, 4, 5]