# Tasks

1. To practice the syntax in short questions and answers, I recommend visiting the tests on the website: https://www.w3schools.com/python/exercise.asp. The tutorial on w3schools is much more comprehensive in terms of introducing various language elements: https://www.w3schools.com/python/.
2. Below are a few tasks to practice these fundamentals.

## Task -1.

Assign example values to variables of different types: integer, float, string, list, tuple, dictionary, and set.

In [ ]:
integer_number = 10
float_number = 3.14
string_value = # ...
list_values = # ...
tuple_values = # ...
dictionary_values = # ...
set_values = # ...

<details>
<summary>Answer (click me)</summary>
<pre><code>
integer_number = 10
float_number = 3.14
string_value = "Hello, world!"
list_values = [1, 2, 3, 4, 5]
tuple_values = (6, 7, 8, 9, 10)
dictionary_values = {"apple": 1, "banana": 2, "orange": 3}
set_values = {1, 2, 3, 4, 5}
</code></pre>
</details>

## Task 0.

Practice defining functions. To do this, write a function that calculates the product of two numbers.

In [ ]:
a= 10; b=15
# ... itd

<details>
<summary>Answer (click me)</summary>
<pre><code>
def multiply_numbers(a, b):
    product = a * b
    return product
</code></pre>
</details>

### Task 1.

Let a = 3, b = 4, and c = 5 be the sides of a triangle. Calculate the area of this triangle using Heron's formula. (Hint: Use the `sqrt()` function from the `math` module for square root.)
$$
s = \frac{a+b+c}{2}
$$
$$
A= \sqrt{s(s-a)(s-b)(s-c)}
$$

<details>
<summary>Answer (click me)</summary>
<pre><code>
def heron(a,b,c):
    s = (a + b + c) / 2
    return math.sqrt(s * (s - a) * (s - b) * (s - c))
</code></pre>
</details>

## Taks 2.

Print the names using the print function on separate lines: x = ["Alice", "Bob", "Carol", "David"]. Try using a for loop.

Alice

Bob

Carol

David

## Task 3.

Write a function to display a Christmas tree made of stars:

In [ ]:
#      *  
#     ***
#    *****
#   *******
#  *********
# ***********
#     ***
#     ***

In [ ]:
# Experiment with the following code
for i in range(10):
    print(i*" ",(10-i)*"*")

## Task 4. (tedious)

Given a date in the form: year, month, day, check if it is "valid".

- There are 12 months.
- The number of days in a month can be: 31, 30, 28, or 29.
- A year is a leap year when:
    - it is divisible by 4 and not divisible by 100,
    - or it is divisible by 400.

You can try creating a function called `is_date_ok(day, month, year)`.

In [ ]:
# example of existing date
day= 10
month=2
year= 2015

In [ ]:
# assert is_date_ok(day, month, year) == True

In [ ]:
# example of impossible date
day= 30
month= 2
year= 2015

In [ ]:
# assert is_date_ok(day, month, year) == False

<details>
<summary>Answer (click me)</summary>
<pre><code>
def is_date_ok(day, month, year):
    # Check if month is valid
    if month < 1 or month > 12:
        return False

    # Check if day is valid
    if month == 2:  # February
        if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
            max_days = 29  # Leap year
        else:
            max_days = 28
    elif month in [4, 6, 9, 11]:  # April, June, September, November
        max_days = 30
    else:
        max_days = 31

    if day < 1 or day > max_days:
        return False

    return True
</code></pre>
</details>

## Task 5.

Write a program that will display 30 copies of the text entered by the user, each time on a new line with line numbers. Use the input() function.

eg.
1 cat

2 cat

...

30 cat

## Task 6.

Create a list of students: Alice, Dave, Carol, Bob.

- Using the append function, add Frank to the list.
- Using the extend function, add Grace and Bob to the list.
- Sort the students alphabetically.

Print on the screen:
- the fourth student on the list
- the first two students on the list
- the last two students on the list

Then:
- Using the remove function, remove all occurrences of Bob.
- Use the len function to check the number of students.
- Create a tuple from the final list of students.

## Task 7.

Use the built-in `sum` function to calculate the average of the following list.

In [ ]:
lista= list(range(6,20,3)) # can you guess what function range is doing?
print(lista)

## Task 8.

Fill a list with the squares of consecutive natural numbers up to 20 (inclusive).

`[0,1,4,9,...,400]`

## Task 9.

Write a program that checks whether a given letter of the alphabet is a vowel or a consonant.

Hint: Use letter in "aeiouy" to check if the letter is a vowel.

In [ ]:
letter= "a"

## Task 10.

Write code that checks whether a number is even or odd and displays the information.

(Interesting fact: Try to do it without using an `if` statement as well)

## Task 11.

Write code that displays N consecutive elements of the Fibonacci sequence: 1, 1, 2, 3, 5, 8, and so on.

## Task 12.

Write 2 functions:

- One for calculating the sum of numbers in a given list.
- Another for calculating the product of numbers in a given list.

In [ ]:
list= [1,6,2,4,8,4,2,3,6]
# sum : 36
# product : 55296

## Task 13. (more challenging)

Write a function that calculates the greatest common divisor (GCD) of two numbers using the Euclidean algorithm.

## Task 14.
Write code that displays the smallest number in a list.

In [ ]:
small_list = [1,5,3,7,4,2,3,67,7,2]

## Task 15.

Write a function that returns the first and last element of a given list, e.g., `a = [1, 2, 5, 1, 2, 6, 8, 4, 10]`.

In [ ]:
a=[1,2,5,1,2,6,8,4,10]

## Task 17.

Add the value "+48 111 222 333" to the dictionary under the key "Bob" and remove the entry for "Ann". Display all phone numbers along with names, one per line.

In [ ]:
tel= {"Alice":"+42 023 123 222",
      "Dave": "+23 232 221 454",
      "John": "+12 222 782 553",
      "Ann": "+77 123 232 212"
     }

## Task 18.

Modify the code to display the `cos()` function in the range from 10 to 30. Ensure correct labeling and title.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x= np.arange(0,10,0.01)
y= np.sin(x)

plt.figure(figsize=(8,6))
plt.plot(x,y,label="y=sin(x)")
plt.xlabel("x")
plt.ylabel("y")
plt.title("Plot of function y=sin(x)")

plt.legend()
plt.show()

## Task 19.

Change one part of the code to sort the function in descending order instead of ascending:

In [ ]:
def insertionSort(arr): 
    # Insert sort simply explained:
    # https://youtu.be/ROalU379l3U
    for i in range(1, len(arr)): 
        key = arr[i] 
        j = i-1
        while j >=0 and key < arr[j] : 
            arr[j+1] = arr[j] 
            j -= 1
        arr[j+1] = key

x= [12,52,7,6,34,2]
insertionSort(x)
print(x)